.container {
  width: 100%;
  height: 90%;
  max-width: 800px;
  margin: 2% auto;
  box-shadow: 0 4px 8px 0 gray;
  display: flex;
}

.image__div {
  width: 50%;
  height: 100%;
}

.detail__div {
  padding: 3%;
  width: 50%;
  display: flex;
  flex-flow: column wrap;
}

.decorate {
  font-size: 0.9rem;
  margin: 5% 0 0;
}

.title {
  font-size: 1.8rem;
}

.price {
  font-size: 0.9rem;
  font-weight: 400;
}

.button__div {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.color__div {
  display: flex;
}

.button {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    padding: 2%;
  }

  .image__div {
    width: 100%;
  }

  .detail__div {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 1.5rem;
  }
}
