.container {
  width: 40%;
  margin: auto;
  padding: 3%;
}
.container > div {
  width: 100%;
  text-align: center;
}

.container label {
  margin-top: 8px;
}

.container > div > span {
  font-size: 1.8rem;
}

.button {
  margin-top: 8px;
}

@media (max-width: 1000px) {
  .container {
    width: 80%;
  }
}
