.container {
  border-bottom: 1px solid #d2d2d2;
  width: 100%;
  padding: 1% 2%;
  display: flex;
  margin: 2% auto;
}

.date__container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.inner__container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.inner__container p,
.date__container p {
  font-size: 0.6rem;
  margin: 0;
}

.inner__container span {
  font-size: 0.9rem;
}

.separator {
  border-right: 1px solid #d2d2d2;
  margin: 0% 2%;
}

@media (max-width: 650px) {
  .container {
    width: 90%;
    height: auto;
    margin: 2% auto;
    flex-flow: column wrap;
  }

  .inner__container {
    width: 100%;
  }

  .tag {
    font-size: 0.6rem;
  }
}
