.container {
  display: flex;
  flex-flow: wrap column;
  margin: 1%;
}

.styles {
  display: flex;
  flex-flow: wrap row;
}

.wrapper {
  width: fit-content;
  margin: 1%;
  position: relative;
}

.remove__icon {
  color: purple;
  position: absolute;
  z-index: 100;
  background-color: white;
  right: -15px;
  top: -10px;
  border-radius: 50% !important;
  height: 30px;
  width: 30px;
  padding: 0.5rem !important;
}

.empty__div {
  margin-top: 3%;
  text-align: center;
}
