.productSizeList {
  display: flex;
  width: fit-content;
  margin: 2% 0;
}

.productSize {
  border: 1px solid #a9a9a9;
  padding: 5% 0;
  margin: 0 8px 0 0;
  width: 50px;
  height: 50px;
  text-align: center;
}

.productSizeSelected {
  border: 1px solid black;
  padding: 5%;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.productSize:hover {
  cursor: pointer;
}

.error {
  color: red;
}
