.container {
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.items__div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.cart__div {
  width: 50%;
  padding: 5%;
}

.cart__inner__div {
  box-shadow: 0 4px 8px 0 grey;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 10%;
}

.cart__inner__div > hr {
  width: 90%;
  border: 0.3px solid gray;
}

.cart__inner__div button {
  background-color: black;
  color: white;
  width: 90%;
  margin: 2% auto;
  padding: 2%;
  border: none;
}

.cart__inner__div > h2 {
  text-align: center;
  padding-top: 10px;
}

.cart__inner__div > div {
  display: flex;
  width: 100%;
}

.cart__inner__div > div > div {
  width: 50%;
  padding: 2%;
  margin: 0 3%;
}

@media (max-width: 1330px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .container {
    flex-flow: column wrap;
  }

  .items__div {
    width: 100%;
  }

  .cart__div {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .cart__inner__div h2,
  .cart__inner__div h4,
  .cart__inner__div h5 {
    font-size: 1rem;
  }

  .items__div {
    width: 100%;
  }
}
