.container {
  max-width: 600px;
  width: 100%;
  margin: 5% auto;
  border: 1px solid #dddddd;
  border-radius: 16px;
  padding: 40px;
}

.button__div {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.resendOTP__button {
  margin-top: 20px;
  color: gray;
  font-weight: 600;
}

.resendOTP__button:hover {
  cursor: pointer;
  color: blueviolet;
}

.error__div {
  color: red;
  font-size: 0.6rem;
  margin-top: 8px;
}

.input__div {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  margin: 40px auto 30px;
}

.text_one__div,
.text_two__div {
  text-align: center;
  color: grey;
}

.text_one__div {
  font-weight: 600;
  font-size: larger;
  padding-bottom: 15px;
}
