.container {
  display: flex;
  height: 100%;
}

.empty_details__div {
  text-align: center;
  padding: 50px;
}

.divider {
  border: 1px solid #eeeeee;
}

.menu__div {
  max-width: 200px;
  width: 100%;
}

.inquiry_list__div {
  max-width: 300px;
  width: 100%;
}

.inquiry_details__div {
  flex: 1;
}
