.container {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 1000px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 gray;
  padding: 2%;
  /* align-items: center; */
}

.nav__div {
  /* border: 1px solid blue; */
  height: 100%;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  border-bottom: 1px solid #d2d2d2;
}

.nav__div span {
  text-align: center;
  margin: 5% 0;
  font-size: 1.5rem;
  display: block;
}

.content__div {
  /* border: 1px solid red;/ */
  width: 100%;
}

.profile__div {
  padding: 4%;
  text-align: center;
}

.profile__div span {
  font-size: 1.8rem;
}

.button__container {
  display: flex;
  width: 100%;
}

.button {
  flex: 1;
}

@media (max-width: 500px) {
  .container {
    width: 95%;
    margin: 2%;
    box-sizing: border-box;
  }
  .button {
    flex: none;
    width: 100%;
  }
  .button__container {
    flex-direction: column;
  }
}
