.error {
  display: block;
  text-align: center;
  color: red;
  font-size: 0.8rem;
  margin-top: 20px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 2% auto;
  padding: 20px;
  display: flex;
}

.container h3 {
  text-align: center;
  margin-bottom: 8%;
}

.image__div {
  flex: 1;
}

.form__div {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  max-width: 100%;
}

.separator {
  border-right: 1px solid #d2d2d2;
  margin: 2%;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
  }

  .separator {
    border-right: none;
    border-bottom: 1px solid #d2d2d2;
    margin: 5%;
  }

  .container h3 {
    margin-bottom: 0%;
  }
}
