.container {
  width: 40%;
  margin: 5% auto;
  padding: 3% 5%;
  box-shadow: 0 4px 8px 0 gray;
}
.container > div {
  width: 100%;
  text-align: center;
}

.container > div > span {
  font-size: 1.8rem;
}

@media (max-width: 1000px) {
  .container {
    width: 80%;
  }
}
